<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<OntologyMetrics>
<BaseMetrics>
<Basemetrics>
<Axioms>0</Axioms>
<Logicalaxiomscount>0</Logicalaxiomscount>
<Classcount>0</Classcount>
<Totalclassescount>21333</Totalclassescount>
<Objectpropertycount>0</Objectpropertycount>
<Totalobjectpropertiescount>54</Totalobjectpropertiescount>
<Datapropertycount>0</Datapropertycount>
<Totaldatapropertiescount>1</Totaldatapropertiescount>
<Propertiescount>0</Propertiescount>
<Individualcount>0</Individualcount>
<Totalindividualscount>680</Totalindividualscount>
<DLexpressivity>AL</DLexpressivity>
</Basemetrics>
<Classaxioms>
<SubClassOfaxiomscount>24623</SubClassOfaxiomscount>
<Equivalentclassesaxiomscount>292</Equivalentclassesaxiomscount>
<Disjointclassesaxiomscount>21</Disjointclassesaxiomscount>
<GCICount>0</GCICount>
<HiddenGCICount>0</HiddenGCICount>
</Classaxioms>
<Objectpropertyaxioms>
<SubObjectPropertyOfaxiomscount>43</SubObjectPropertyOfaxiomscount>
<Equivalentobjectpropertiesaxiomscount>0</Equivalentobjectpropertiesaxiomscount>
<Inverseobjectpropertiesaxiomscount>0</Inverseobjectpropertiesaxiomscount>
<Disjointobjectpropertiesaxiomscount>0</Disjointobjectpropertiesaxiomscount>
<Functionalobjectpropertiesaxiomscount>1</Functionalobjectpropertiesaxiomscount>
<Inversefunctionalobjectpropertiesaxiomscount>0</Inversefunctionalobjectpropertiesaxiomscount>
<Transitiveobjectpropertyaxiomscount>1</Transitiveobjectpropertyaxiomscount>
<Symmetricobjectpropertyaxiomscount>0</Symmetricobjectpropertyaxiomscount>
<Asymmetricobjectpropertyaxiomscount>0</Asymmetricobjectpropertyaxiomscount>
<Reflexiveobjectpropertyaxiomscount>0</Reflexiveobjectpropertyaxiomscount>
<Irreflexiveobjectpropertyaxiomscount>0</Irreflexiveobjectpropertyaxiomscount>
<Objectpropertydomainaxiomscount>0</Objectpropertydomainaxiomscount>
<Objectpropertyrangeaxiomscount>0</Objectpropertyrangeaxiomscount>
<SubPropertyChainOfaxiomscount>0</SubPropertyChainOfaxiomscount>
</Objectpropertyaxioms>
<Datapropertyaxioms>
<SubDataPropertyOfaxiomscount>0</SubDataPropertyOfaxiomscount>
<Equivalentdatapropertiesaxiomscount>0</Equivalentdatapropertiesaxiomscount>
<Disjointdatapropertiesaxiomscount>0</Disjointdatapropertiesaxiomscount>
<Functionaldatapropertyaxiomscount>1</Functionaldatapropertyaxiomscount>
<Datapropertydomainaxiomscount>0</Datapropertydomainaxiomscount>
<DataPropertyrangeaxiomscount>0</DataPropertyrangeaxiomscount>
</Datapropertyaxioms>
<Individualaxioms>
<Classassertionaxiomscount>9</Classassertionaxiomscount>
<Objectpropertyassertionaxiomscount>0</Objectpropertyassertionaxiomscount>
<Datapropertyassertionaxiomscount>0</Datapropertyassertionaxiomscount>
<Negativeobjectpropertyassertionaxiomscount>0</Negativeobjectpropertyassertionaxiomscount>
<Negativedatapropertyassertionaxiomscount>0</Negativedatapropertyassertionaxiomscount>
<Sameindividualsaxiomscount>0</Sameindividualsaxiomscount>
<Differentindividualsaxiomscount>6</Differentindividualsaxiomscount>
</Individualaxioms>
<Annotationaxioms>
<Annotationaxiomscount>24</Annotationaxiomscount>
<Annotationassertionaxiomscount>0</Annotationassertionaxiomscount>
<Annotationpropertydomainaxiomscount>0</Annotationpropertydomainaxiomscount>
<Annotationpropertyrangeaxiomscount>136</Annotationpropertyrangeaxiomscount>
</Annotationaxioms>
<Schemametrics>
<Attributerichness>4.7E-5</Attributerichness>
<Inheritancerichness>1.154221</Inheritancerichness>
<Relationshiprichness>0.014686</Relationshiprichness>
<Attributeclassratio>0.0</Attributeclassratio>
<Equivalenceratio>0.013688</Equivalenceratio>
<Axiomclassratio>0.0</Axiomclassratio>
<Inverserelationsratio>0.0</Inverserelationsratio>
<Classrelationratio>0.853661</Classrelationratio>
</Schemametrics>
<Knowledgebasemetrics>
<Averagepopulation>0.031875</Averagepopulation>
<Classrichness>0.0</Classrichness>
</Knowledgebasemetrics>
<Graphmetrics>
<Absoluterootcardinality>0</Absoluterootcardinality>
<Absoluteleafcardinality>0</Absoluteleafcardinality>
<Absolutesiblingcardinality>0</Absolutesiblingcardinality>
<Absolutedepth>21333</Absolutedepth>
<Averagedepth>1.0</Averagedepth>
<Maximaldepth>1</Maximaldepth>
<Absolutebreadth>21333</Absolutebreadth>
<Averagebreadth>21333.0</Averagebreadth>
<Maximalbreadth>21333</Maximalbreadth>
<Ratioofleaffanoutness>0.0</Ratioofleaffanoutness>
<Ratioofsiblingfanoutness>0.0</Ratioofsiblingfanoutness>
<Tangledness>0.0</Tangledness>
<Totalnumberofpaths>21333</Totalnumberofpaths>
<Averagenumberofpaths>21333.0</Averagenumberofpaths>
</Graphmetrics>
<ClassMetrics/>
</BaseMetrics>
</OntologyMetrics>
